

.enter {
    width: 100%;
}
.my-checkbox.filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #4350af;
    background-color: #4350af;
    z-index: 0;
  }
/* friends */
.active {
  background-color: #d7dcff;
}
.newmes {
  background-color: #4350af;
  color: aliceblue;
  padding: 5px;
  margin-left: 5px;
  border-radius: 4px;
}
.avatar {
  vertical-align: middle;
}
.avatarFriend {
  padding: 20px;
}
.nameFriend {
  font-weight: 700;
}
.middleic {
  vertical-align: middle;
  padding-right: 10px;
}
.middle {
  vertical-align: middle;
}
.data {
  color: gray;
  font-size: 12px;
  font-weight: 400;
}
.data .middleic {
  font-size: 19px;
}
.search {
  margin-top: 15px;
}
.menu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}
.menu ul li a {
  color: #4350af;
}
.menu ul {
  margin-top: 50px;
}
.menu ul li:hover {
  background-color: #d7dcff;
}
  /* news */

.add {
    padding-top: 20px;
}


